.App {
  text-align: center;
}

.meret{
  border: 3px solid black;
}


.logincenter{
    margin-top: 8px;
    margin-right: 18px;
}

.registercenter{
    margin-top: 8px;
    margin-right: 121px;
}

.icon{
  margin-top: 3px;
  margin-bottom: 4px;
  margin-right: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
